<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="{{request.static_url('logic:static/truth_table.js')}}"></script>
      <style>
          body{
            background:#c4c2c2;
          }
          #formula{
            background:#fafaaf;
            height:40px;
            border: solid thin black;
            text-align:center;
            width: 600px;
            margin:0 auto;
            letter-spacing: 3px;
            line-height:40px;
          }
          #formulaEntry{
            text-align:center;
            margin-top:10px;
          }
          #truthTable{
            text-align:center;
            margin-top: 10px;
          }
          #truthTable table {
            border-collapse: collapse;
          }
          #truthTable table, th, td {
            border: 2px solid black;
            margin: 0 auto;
            padding:5px;
          }
          #title{
            text-align:center;
            margin-bottom:14px;
            font-size:30px;
          }
          #title h2{
            margin-bottom:-30px;
            margin-top:10px;
          }
          #variableGroup{
            background: black;
            display:inline-block;
            padding:10px;
          }
          #opGroup{
            background: white;
            display:inline-block;
            padding:10px;
          }
          #parenGroup{
            background: grey;
            display:inline-block;
            padding:10px;
          }
          #delLastGroup{
            margin-top:10px;
          }
      </style>
  </head>

  <body>
  <div id="title"><h2>Propositional Calculus</h2><br/>Truth Table Calculator</div>
    <div id="formula" ></div>
    <div id="formulaEntry">
        <div id="variableGroup">
            <button onclick="addToFormula('P')">P</button>
            <button onclick="addToFormula('Q')">Q</button>
            <button onclick="addToFormula('R')">R</button>
            <button onclick="addToFormula('S')">S</button>
            <button onclick="addToFormula('T')">T</button>
            <button onclick="addToFormula('U')">U</button>
        </div>
        <div id="opGroup">
            <button onclick="addToFormula('¬')">¬</button>
            <button onclick="addToFormula('∧')">∧</button>
            <button onclick="addToFormula('∨')">∨</button>
            <button onclick="addToFormula('→')">→</button>
        </div>
        <div id="parenGroup">
            <button onclick="addToFormula('(')">(</button>
            <button onclick="addToFormula(')')">)</button>
        </div>
        <br/>
        <div id="delLastGroup">
            <button onclick="deleteLast()">Delete Last</button>
        </div>
    </div>

    <div id="truthTable">Enter a formula above to generate its truth table.</div>
  </body>
</html>
